{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  {{ month|title }} Challenge
{% endblock page_title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}" />
{% endblock css_files %}

{% block content %}
{% include 'challenges/include/home_btn.html' %}
  {% if challenge != None %}
    <h1>{{ month|title }} Challenge:</h1>
    <h2>{{ challenge }}</h2>
  {% else %}
    <p class="fallback">No challenge for this month yet</p>
  {% endif %}
{% endblock content %}
